header{
    background-color: #514AFF;
}

h1{
    color: white;];
}

/* seach icon */
.fa-search{
    color: white;
}

footer{
    background-color: #514AFF;
    color: white;
}

.copyright{
    text-align: center;
}

