header{
    background-color: #514AFF;
}

h1{
    color: #514AFF;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
/* seach icon */
.fa-search{
    color: white;
}

footer{
    background-color: #514AFF;
    color: white;
}

.copyright{
    text-align: center;
}
/* images as links styled */
.homelinks{
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.tspic{
padding-top: 15px;
padding-left: 180px;
}
/* details buttons */
#portfolio{
    font-size: 25px;
    padding: 15px;
    margin: 10px;
    background-color: #514AFF;
    color: white;
    border: solid black;

}
#Home{
    font-size: 25px;
    padding: 15px;
    margin: 10px;
    background-color: #514AFF;
    color: white;
    border: solid black;
}
#Portfolio{
    font-size: 25px;
    padding: 15px;
    margin: 10px;
    background-color: #514AFF;
    color: white;
    border: solid black;
}
#About{
    font-size: 25px;
    padding: 15px;
    margin: 10px;
    background-color: #514AFF;
    color: white;
    border: solid black;
}
#Services{
    font-size: 25px;
    padding: 15px;
    margin: 10px;
    background-color: #514AFF;
    color: white;
    border: solid black;
}
#Contact{
    font-size: 25px;
    padding: 15px;
    margin: 10px;
    background-color: #514AFF;
    color: white;
    border: solid black;
}
.logo{
float: center;
display: inline;
}
.btnrow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 155px;
}
.portr1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

.portr2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.portr3{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portr4{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.exlogo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    margin-left: 120px;
}